

#typography h1,
#typography h2,
#typography h3,
#typography h4,
#typography h5,
#typography h6 {
  margin-bottom: 0;
  
}

.switch {
  margin-right: 20px;
}

#navbar-full .navbar {
  border-radius: 0 !important;
  margin-bottom: 15px;
  z-index: 2;
}

.space {
  height: 130px;
  display: block;
}

.space-30 {

  height: 30px;
  display: block;

}

.space-110 {
  height: 110px;
  display: block;
}

.space-50 {

  height: 60px !important;
  display: block;
}

.space-70 {
  height: 70px;
  display: block;
}

#notifications {
  background-color: #FFFFFF;
  display: block;
  width: 100%;
  position: relative;
}

#notifications .alert-danger {
  margin-bottom: 0px;
}

.tim-note {
  text-transform: capitalize;
}

#buttons .btn {
  margin: 0 0px 15px;
}

.space-100 {
  height: 100px;
  display: block;
  width: 100%;
}

.be-social {
  padding-bottom: 20px;
  /*     border-bottom: 1px solid #aaa; */
  margin: 0 auto 40px;
}

.txt-white {
  color: #FFFFFF;
}

.txt-gray {
  color: #ddd !important;
}

.parallax {
  width: 100%;
  height: 570px;
  display: block;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.logo-container .logo {
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid #333333;
  width: 50px;
  float: left;
}

.logo-container .brand {
  font-size: 16px;
  line-height: 18px;
  float: left;
  margin-left: 10px;
  margin-top: 7px;
  color: #fff;
  width: 70px;
  height: 40px;
  text-align: left;
}

.navbar-default .logo-container .brand {
  color: #999999;
}

.navbar-transparent .logo-container .brand {
  color: #FFFFFF;
}

.logo-container .brand-material {
  font-size: 18px;
  margin-top: 15px;
  height: 25px;
  width: auto;
}

.logo-container .logo img {
  width: 100%;
}

.navbar-small .logo-container .brand {
  color: #333333;
}

.fixed-section {
  top: 90px;
  max-height: 71vh;
  overflow: scroll;
  border-bottom: 1px solid rgba(220, 220, 220, .8);
}

.fixed-section ul li {
  list-style: none;
}

.fixed-section li a {
  font-size: 14px;
  padding: 2px;
  display: block;
  color: #666666;
}

.fixed-section li a.active {
  color: #00bbff;
}

.fixed-section.float {
  position: fixed;
  top: 100px;
  width: 200px;
  margin-top: 0;
}

.parallax .parallax-image {
  width: 100%;
  overflow: hidden;
  position: absolute;
}

.parallax .parallax-image img {
  width: 100%;
}

@media (max-width: 768px) {
  .parallax .parallax-image {
    width: 100%;
    height: 640px;
    overflow: hidden;
  }
  .parallax .parallax-image img {
    height: 100%;
    width: auto;
  }
}

.separator {
  content: "Separator";
  color: #FFFFFF;
  display: block;
  width: 100%;
  padding: 20px;
}

.separator-line {
  background-color: #EEE;
  height: 1px;
  width: 100%;
  display: block;
}

.separator.separator-gray {
  background-color: #EEEEEE;
}

.social-buttons-demo .btn {
  /*margin-right: 5px;
    margin-bottom: 7px;*/
  margin: 10px 5px 7px 1px;
}

.img-container {
  width: 100%;
  overflow: hidden;
}

.img-container img {
  width: 100%;
}

.lightbox img {
  width: 100%;
}

.lightbox .modal-content {
  overflow: hidden;
}

.lightbox .modal-body {
  padding: 0;
}

@media screen and (min-width: 991px) {
  .lightbox .modal-dialog {
    width: 960px;
  }
}

@media (max-width: 991px) {
  .fixed-section.affix {
    position: relative;
    margin-bottom: 100px;
  }
}

@media (max-width: 768px) {
  .btn,
  .btn-morphing {
    margin-bottom: 10px;
  }
  .parallax .motto {
    top: 170px;
    margin-top: 0;
    font-size: 60px;
    width: 270px;
  }
}

/*       Loading dots  */

/*      transitions */

.presentation .front,
.presentation .front:after,
.presentation .front .btn,
.logo-container .logo,
.logo-container .brand {
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

#images h4 {
  margin-bottom: 30px;
}

#javascriptComponents {
  padding-bottom: 0;
}

#javascriptComponents .btn-raised {
  margin: 10px 0px;
}

/*      layer animation          */

.layers-container {
  display: block;
  margin-top: 50px;
  position: relative;
}

.layers-container img {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  text-align: center;
}

.section-black {
  background-color: #333;
}

.animate {
  transition: 1.5s ease-in-out;
  -moz-transition: 1.5s ease-in-out;
  -webkit-transition: 1.5s ease-in-out;
}

.navbar-default.navbar-small .logo-container .brand {
  color: #333333;
}

.navbar-transparent.navbar-small .logo-container .brand {
  color: #FFFFFF;
}

.navbar-default.navbar-small .logo-container .brand {
  color: #333333;
}

.sharing-area {
  margin-top: 80px;
}

.sharing-area .btn {
  margin: 15px 4px 0;
  color: #FFFFFF;
}

.sharing-area .btn i {
  font-size: 18px;
  position: relative;
  top: 2px;
  margin-right: 5px;
}

#navbar {
  margin-bottom: -20px;
}

.sharing-area .btn-twitter {
  background-color: #55acee;
}

.sharing-area .btn-twitter:active:focus {
  background-color: #55acee;
}

.sharing-area .btn-facebook {
  background-color: #3b5998;
}

.sharing-area .btn-facebook:active:focus {
  background-color: #3b5998;
}

.sharing-area .btn-google-plus {
  background-color: #dd4b39;
}

.sharing-area .btn-google-plus:active:focus {
  background-color: #dd4b39;
}

.sharing-area .btn-github {
  background-color: #333333;
}

.sharing-area .btn-github:active:focus {
  background-color: #333333;
}

.section-thin,
.section-notifications {
  padding: 0;
}

.section-navbars {
  padding-top: 0;
}

#navbar .navbar {
  border-radius: 0;
}

.section-tabs {
  background: #EEEEEE;
}

.section-pagination {
  padding-bottom: 0;
}

.section-download h4 {
  margin-bottom: 50px;
}

.section-examples a {
  text-decoration: none;
}

.section-examples h5 {
  margin-top: 30px;
}

.components-page .wrapper>.header,
.tutorial-page .wrapper>.header {
  height: 400px;
  padding-top: 100px;
  background-size: cover;
  background-position: center center;
}

.components-page .title,
.tutorial-page .title {
  color: #FFFFFF;
}

@media (max-width: 830px) {
  .main-raised {
    margin-left: 10px;
    margin-right: 10px;
  }
}

/*@media all and (min-width: 1200px){
    #modal-row [class*="col-"]:nth-child(1),
    #modal-row [class*="col-"]:nth-child(4),
    #javascriptComponents [class*="col-"]:nth-child(2),
    #javascriptComponents [class*="col-"]:nth-child(5){
        padding-right: 3px;
    }

    #modal-row [class*="col-"]:nth-child(2),
    #javascriptComponents [class*="col-"]:nth-child(3){
        padding-right: 3px;
        padding-left: 3px;
    }

    #modal-row [class*="col-"]:nth-child(3),
    #modal-row [class*="col-"]:nth-child(5),
    #javascriptComponents [class*="col-"]:nth-child(4),
    #javascriptComponents [class*="col-"]:nth-child(6){
        padding-left: 3px;
    }
}*/

.components-page .footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.components-page .page-header:after {
  background: rgba(132, 13, 121, 0.88);
  background: linear-gradient(45deg, rgba(132, 13, 121, 0.88) 0%, rgba(208, 44, 180, 0.31) 100%);
  background: -moz-linear-gradient(135deg, rgba(132, 13, 121, 0.88) 0%, rgba(208, 44, 180, 0.31) 100%);
  background: -webkit-linear-gradient(135deg, rgba(132, 13, 121, 0.88) 0%, rgba(208, 44, 180, 0.31) 100%);
}

.components-page .page-header.header-filter:before {
  display: none;
}

.components-page .page-header .title-container {
  position: relative;
  z-index: 10;
}

.components-page .footer .container {
  padding-top: 0;
}

.components-page .footer .btn i {
  color: #fff;
}

.components-page .page-header {
  height: 100vh !important;
  min-height: auto !important;
}

/*  PRESENTION PAGE   */

/* Section Components */

.section-components .title {
  margin-top: 60px;
  margin-bottom: 5px;
}

.section-components .description {
  margin-top: 35px;
}

.section-components .image-container {
  height: 560px;
  position: relative;
}

.section-components .components-macbook {
  width: auto;
  left: -100px;
  top: 0;
  height: 100%;
  position: absolute;
}

.section-components .table-img,
.section-components .share-btn-img,
.section-components .coloured-card-btn-img,
.section-components .coloured-card-img,
.section-components .social-img,
.section-components .pin-btn-img {
  position: absolute;
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}

.section-components .coloured-card-img {
  left: 90%;
  top: 11%;
  height: 90px;
  border-radius: 2px;
}

.section-components .social-img {
  left: 70%;
  top: 67%;
  height: 40px;
}

.section-components .coloured-card-btn-img {
  left: 35%;
  top: 2%;
  height: 125px;
  border-radius: 6px;
}

.section-components .table-img {
  left: -13%;
  top: 27%;
  height: 175px;
  border-radius: 2px;
}

.section-components .pin-btn-img {
  left: 0%;
  top: 68%;
  height: 25px;
  border-radius: 3px;
}

.section-components .share-btn-img {
  left: 3%;
  top: -3%;
  height: 25px;
}

/* Section Content */

.section-content .section-description {
  margin-top: 100px;
}

.section-content .title {
  margin-bottom: 5px;
}

.section-content .section-description .title+.description {
  margin-top: 0;
}

.section-content .description {
  margin-top: 35px;
}

.section-content .image-container {
  max-width: 900px;
  position: relative;
}

.section-content .image-container .ipad-img {
  width: 100%;
  transition: transform .6s .9s;
  z-index: 2;
}

.section-content .image-container .area-img,
.section-content .image-container .info-img {
  position: absolute;
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transform: translate3D(0px, 100px, 0px);
  -webkit-transform: translate3D(0px, 100px, 0px);
}

.section-content .image-container .area-img {
  top: 10%;
  left: 60%;
  height: 300px;
  width: 250px;
  z-index: 2;
  -webkit-transition: all 1s ease-out 0s;
  -moz-transition: all 1s ease-out 0s;
  -o-transition: all 1s ease-out 0s;
  -ms-transition: all 1s ease-out 0s;
  transition: all 1s ease-out 0s;
}

.section-content .image-container .info-img {
  top: 50%;
  left: 0%;
  height: 200px;
  width: 300px;
  -webkit-transition: all 1s ease-out 0s;
  -moz-transition: all 1s ease-out 0s;
  -o-transition: all 1s ease-out 0s;
  -ms-transition: all 1s ease-out 0s;
  transition: all 1s ease-out 0s;
}

.animated {
  transform: translate3D(0px, 0px, 0px) !important;
  -webkit-transform: translate3D(0px, 0px, 0px) !important;
  opacity: 1 !important;
}



/* mon css */

/* portfolio */
* {margin:0; padding:0; box-sizing:border-box; font-family: 'Oxygen', sans-serif; }

@media (max-width:600px) {
	.navbar, nav{
        padding: 0 !important;
        margin: 0 !important;
        width: 100%;
    }
    #navbarNavDropdown {
        background-color: white;
        align-items: center;
        text-align: center;
        
        position: relative;
        width: 340px;
        padding: 0 !important;
        margin: 0 !important;
        border-radius: 1px;
        text-align: center;
        box-shadow: -5px -5px 10px rgba(255,255,255,0.05),
                5px 5px 15px rgba(0,0,0,0.5);
        
    }
    .nav-link{
        
        color:  #3737a0d8!important;
    }

    .dropdown-item{
        text-align: center;
    }
    .navbar-toggler, .collapsed{
        
        margin: 10px;
    }

    .center{
        width: 100%;
    }

    

}


/* navbar */
.navbar, .navbar-nav {
    
    
    
    font-weight: 900 !important;
}
.nav-link{
    margin: 10px;
    
}
.nav-link, .dropdown-item {
   
    font-weight: bold;    
    text-shadow: 15px 14px 20px  rgba(0, 0, 0, 0.527);      
}
.dropdown-item:hover{
    background-color: #3737a0d8;
    color: white !important;

}
button.navbar-toggler.collapsed, button.navbar-toggler{
    background-color: #2F47A7;
}
.btn{
    color:rgb(237, 237, 243) !important;
    font-weight: 900;
    
    text-transform: uppercase;
}

.btn.btn-rose:hover{
    font-size: 1em !important;
    font-weight: 900;
    text-transform: uppercase;
    color: #52b1e4 !important;
    background-color: #fff;
}


.img_nav{

    width: 30%;
    border-radius: 100%;

}

/* end */

/* général */


body{

    background-color: #16202a;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 1em !important;
   
}

.color_txt1_titre{
    color: white;
    padding: 2em 0 2em;
}

.card-columns, .card, .card-body{
    margin-right: 0 !important;
    margin-left: 0 !important;
}

cite{
    
     text-align: center;
    text-transform: uppercase;
    font-size: 13px;
    align-items: center;
    font-weight: 900;
    color: #133cad !important;
    text-transform: full-width;

}

/* card bootstrap */

.image-fond-card-body{

  
  box-shadow: 10px 5px 5px #00000083;
  background-image: url(../../image_portfolio/paper-flower-background-4794429_1920.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: 900;
  border-radius: 10px;
 
}


#card_bleu{

  background-image: url(../../image_portfolio/wood-1963988_1280.jpg) !important;

}

#img_head{
    border-radius: 100%;
    box-shadow: -5px 5px 20px rgba(29, 29, 29, 0.678);
}

.row{
    margin-right: 0 !important; 
    margin-left: 0 !important;
}

.slide_gif{
    width: 173px;
}

/* titre effet 3d */

.form2 {
    
    padding: 10em 0 10em;
    width: 100%;
    
    background: #e9e6e6;
    
    text-align: center;
   
}

.txt_title{
    display: block;
    text-align: center;
    font-size: 8vw;
    letter-spacing: 10px;
    font-weight: 900;
    width: 100%;
    line-height: .9em;
    background-color: #e9e6e6;
    color: #e9e6e6;
  
    text-shadow: -5px -5px 10px rgb(255, 255, 255),
                20px 20px 30px rgba(37, 36, 36, 0.507);

}

@media screen and (max-width:600px){

  .txt_title{
    
    font-weight: 900 !important;
    line-height: 1em !important;
    color: #201e1e;
    text-transform: uppercase;
  }
  
  .header_mobile{

    background-image: url(../../image_portfolio/header_mobile.PNG) !important;
    background-repeat: no-repeat;
    padding: 5em 0 5em;
    background-position: center;

  }  

  .no-mobile{
    display: none;
  }

  .navbar-img{background-image: url(../../image_portfolio/moi2.jpg); background-size: 60px; background-repeat: no-repeat; background-position: center;}

  .img-map{width: 300px !important;}

  .footer a{font-size: 1.1em !important;}

  .btn-small-blanc{width: 20px !important;}

}

.navbar .navbar-toggler .navbar-toggler-icon{background-color: #fff; height: 3px;}
.navbar-toggler{height: 40px; border-radius: 100%;}


/* end */


.contact{
    color: #494ca2 !important;
}


#petales{
    
    background-image: url(../../image_portfolio/4628_88fe6.gif);
    background-repeat: no-repeat;
    background-position: center;

}

.txt-blanc-propos{color:#141516;}

header{padding: 3em 0 5.5em !important;}

.card-projet{
  
  
  height: 350px;
  width: 300px;
  
  margin-top: 3em;
  margin-bottom: 1em;
  transition: 2s;
  box-shadow: #201d1d 15px 15px 50px;

}

/* text projet */



/* .txt-hidden{
  
  color: #ffffff;
} */

/* .me2{border-radius: 100%; width: 10px;} */

.txt-visible:hover{
 
  color:black !important;
  font-size: 1.3em !important;
  text-align: center;
  
}



/* fin */



.container-two{

transform: skewY(-3deg);

}

.card-projet:before{
  
  content:'';
  position: absolute;
  top: -15px;
  left: 0;
  height: 15px;
  width: 100%;
  background: rgb(231, 226, 226);
  
  transform-origin: bottom;
  transform: skewX(45deg);
  transition: 2s;

}

.card-projet:after{
  
  content:'';
  position: absolute;
  top: -15px;
  left: -15px;
  height: 99%;
  width: 15px;
  background: rgb(231, 226, 226);
  transform-origin: left;
  
  transform: skewY(45deg);
  transition: 2s;

  
  
}

.card-projet:hover{transform: translateY(-30px);}

.btn.btn-outline-info{background-color: #fff; color: rgb(42, 116, 185) !important;}
.btn.btn-outline-info:hover{background-color: #ea1e63; color: white !important; font-size:.9em}


#iframe-map{

display: flex;
flex-direction: row-reverse;

}

.img-contact{width: 150px;}
.img-contact2{width: 20px;}


.footer a{font-size:1.5em; color:#2874c9;}
.footer a:hover{color:#fff;}


.logo-imts{width: 120px;}


.me{width: 60px;}

.space-footer{margin-left: 60px !important; text-align: center;}
.bottom-footer{margin-top: 50px;}



.body2{

  background-image: url(/image_portfolio/Website-Maintenance.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size:50%;
  height: 220px;
  color: #000000;

}

.acceuil{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #192734;
  
  
}


.form {
  
  position: relative;
  width: 350px;
  padding: 40px 40px 60px;
  background: #16202a;
  border-radius: 10px;
  text-align: center;
  box-shadow: -5px -5px 10px rgba(15, 15, 15, 0.329),
              5px 5px 15px rgba(0,0,0,0.5);
}
.form  a{
  align-items: center;
  display: flex;
  text-align: center !important;
  box-shadow: -5px -5px 10px rgba(255,255,255,0.05),
              5px 5px 15px rgba(0,0,0,0.5);

}

.form h3{
  
  color: #c7c7c7;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 4px;

}

.form .input{

  text-align: left !important;
  margin-top: 40px;
  

}

.form .input .inputBox{
  text-align: left !important;
  margin-top: 20px;

}

.form .input .inputBox .btn, label{
  
  display: block;
  color: #868686;
  margin-bottom: 5px;
  font-size: 18px;

}

.form .input .inputBox label::placeholder{
  text-align: left;
}

.form .input .inputBox .btn, input {

  width: 100%;
  height: 50px;
  background-color: #131419;
  border: none;
  outline: none;
  border-radius: 40px;
  padding: 5px 15px;
  color: #FFF;
  font-size: 18px;
  color: #03a9f4;
  box-shadow: inset -2px -2px 6px rgba(255,255,255,0.01),
              inset 2px 2px 6px rgba(0,0,0,0.8);

}

.form .input .inputBox .btn input[type="submit"]{

  margin-top: 20px;
  box-shadow:  -2px -2px 6px rgba(255,255,255,0.01),
               2px 2px 6px rgba(0,0,0,0.8);

}

.form .input .inputBox .btn input[type="submit"]:active{
  color: #006c9c;
  margin-top: 20px;
  box-shadow: inset -2px -2px 6px rgba(255,255,255,0.01),
              inset 2px 2px 6px rgba(0,0,0,0.8);

}

.form .input .inputBox input::placeholder{

  color:#555;
  font-size: 18px;

}

.bottom-video{

  margin-top: 25px;

}

@media screen and (max-width: 992px){

  .embed-responsive{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    width: 100% ;
    
  }

  .dropdown-menu{box-shadow: none !important; border: solid 1px #16202a !important;}

}

@media screen and (max-width: 600px){

  .embed-responsive{
    /* margin-left: auto !important;
    margin-right: auto !important; */
    margin-bottom: 30px;
    width: 100% !important;
    
    
  }

  textarea{

    height: auto !important;
    width: 250px !important;

  }

  /* iframe{

    width: 323.2px !important;
    height: 181.8px !important;

  } */

  .svg{width: 15% !important;}
  .svg-two{width: 25% !important;}

}

.svg{margin: 0 40px 30px !important ;}
.svg-two{width: 10% ;}
.svg-one{width: 5%; margin-right: 25px !important; border-radius: 100%;}

.embed-responsive{
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: block;
  width: 48%;
    padding: 0;
  overflow: hidden;
}

.embed-responsive::before {
  display: block;
  content: "";
}

.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.embed-responsive-21by9::before {
  padding-top: 42.857143%;
}

.embed-responsive-16by9::before {
  padding-top: 56.25%;
}

.embed-responsive-4by3::before {
  padding-top: 75%;
}

.embed-responsive-1by1::before {
  padding-top: 100%;
}

.dark-videos{

  background-color: #0d161f;

}

.img-sm{width: 100%;}

.card li{text-align: left !important; color:#fff !important;}
.card p{text-align: left !important; color:#fff !important;}
.card h3{text-align: left !important; color:#fff !important;}

textarea{

  height: 200px !important;
  width: 500px;
  background: #131419;
  color: #1da1f3;
  border: solid 1px #16202a;

}

